/*Stylesheet for the NoteVelocity website*/

.page {
	/*margin-top: 0.5em;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 0.5em;*/

	padding: 0.5em;
}

.header {
	background-color: #222;
	color: #EEE;

	padding: 1em;
	
	font-family: "Open Sans";
	font-size: 3em;
	font-weight: bold;
}

.navbar {
	height: 3em;

	background-color: #CCC;
	padding: 0em;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.navlink {
	float: left;

	padding-top: 0.5em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-bottom: 0.5em;

	font-family: "Source Sans Pro";
	font-size: 1.5em;
}

.navlink:hover {
	background-color: #AAA;
}

.main {
	background-color: #EEE;

	padding: 2em;
	padding-top: 0.5em;
	/*margin-top: 3.4em;*/
}

.submain {
	margin: 0em;
	padding: 0em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

.mainlink {
	color: #000;
	text-decoration: none;
	font-family: "Source Sans Pro";
}

.emphasis {
	font-family: "Source Sans Pro";
	color: #282828;
}

.footer {
	padding: 1.5em;
	padding-bottom: 2.5em;

	background-color: #CCC;
}

.footerlink {
	float: right;
	color: #888;

	font-family: "Source Sans Pro";
	font-size: 1em;
	text-align: right;
	text-decoration: none;
}

.screenshot {
	padding: 0em;
	margin: 1.5em;
	margin-bottom: 1em;
	max-width: 100%;
	height: auto;
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0em;

	line-height: 1em;
	font-family: "Open Sans";
	font-size: 2.5em;
	font-weight: bold;

	color: #222;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	font-family: "Open Sans";
	font-size: 2em;

	color: #333;
}

p {
	font-family: "Source Sans Pro Light";
	font-size: 1em;
	color: #484848;
}

a {
	color: #000;
	text-decoration: none;
}

@media (max-width: 1000px) { /*Change to 1024 once I've got a bigger screen*/
	.header {
		font-size: 2em;
	}

	.navbar {
		height: 2em;
	}

	.navlink {
		float: left;

		font-size: 1em;
		text-decoration: none;
	}

	.footer {
		font-size: 0.9em;
	}

	.footercontainer {
		padding-bottom: 2em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.7em;
	}

	p {
		font-size: 0.9em;
	}
}

@media (max-width: 600px) {
	.header {
		padding: 0.5em;
		font-size: 1.5em;
	}

	.navlink {
		float: none;
		text-decoration: none;
		font-size: 0.8em;
	}

	.navbar {
		height: 8em;
	}

	.main {
		padding: 0.5em;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.3em;
	}

	p {
		font-size: 0.8em;
	}

	a {
		text-decoration: none;
	}
}